{% extends "layout.html" %}
{% block body %}
      <main role="main">
          <!-- House Images -->
          <section class="jumbotron text-center bg-secondary">
              <section class="card card-1 bg-dark card-center" style="height: 400px; width: 800px">
              <div id="HouseGallery" class="carousel slide" data-ride="carousel" data-interval="false" wrap="false">
                  <ol class="carousel-indicators">
                      <li data-target="#HouseGallery" data-slide-to="0" class="active"></li>
                      <li data-target="#HouseGallery" data-slide-to="1"></li>
                      <li data-target="#HouseGallery" data-slide-to="2"></li>
                      <li data-target="#HouseGallery" data-slide-to="3"></li>
                      <li data-target="#HouseGallery" data-slide-to="4"></li>
                  </ol>
           <div class="carousel-inner text-light" role="listbox">
             <div class="carousel-item">
               <img src="{{house_images[0]}}" class="img-fluid" alt="pic0">
             </div>

            <div class="carousel-item">
                <img src="{{house_images[1]}}" class="img-fluid" alt="pic1">
            </div>

            <div class="carousel-item">
                <img src="{{house_images[2]}}" class="img-fluid" alt="pic2">
            </div>

            <div class="carousel-item">
                <img src="{{house_images[3]}}" class="img-fluid" alt="pic3">
            </div>

            <div class="carousel-item active">
                <img src="{{house_images[4]}}" class="img-fluid" alt="pic4">
            </div>
           </div>
           
           <a class="carousel-control-prev text-success" href="#HouseGallery" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
               <span class="sr-only">Previous</span>
           </a>

           <a class="carousel-control-next text-success" href="#HouseGallery" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="false"> </span>
               <span class="sr-only">Next</span>
           </a>
               </div>
               </section>

           </section>

           <!-- House Profile -->
           <section class="houseInfo card card-2 card-center bg-white">
               <h2> {{location}} </h2>
               <div class="row">
                   <div class="col">
                       <div class="card">
                         <div class="card-header">Price</div>
                         <div class="card-body">${{price}}</div>
                       </div>
                   </div>
                   <div class="col">
                       <div class="card">
                         <div class="card-header">Bedroom</div>
                         <div class="card-body">{{bedroom_num}}</div>
                       </div>
                   </div>
                   <div class="col">
                       <div class="card">
                         <div class="card-header">Bathroom</div>
                         <div class="card-body">{{bath_num}}</div>
                       </div>
                   </div>
               </div>
               <!-- Features -->
               <h2> Features </h2>
               <table class="table table-striped">
                 <thead>
                   <tr>
                     <th scope="col">Internet</th>
                     <th scope="col">TV</th>
                     <th scope="col">Dishwasher</th>
                     <th scope="col">Electricity</th>
                     <th scope="col">Furnished</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>{{internet}}</td>
                     <td>{{tv}}</td>
                     <td>{{dishwasher}}</td>
                     <td>{{electricity}}</td>
                     <td>{{furnished}}</td>
                   </tr>
                 </tbody>
               </table>



               <h2> Average Rank </h2>
               <p>The average rank of this apartment is: {{avgscore}}</p>
               <p>{{count}} people have ranked this apartment</p>
               
               {% if session['logged_in'] %}

               <h2> Your Rank For This Apartment is: {{likeornot}} </h2>

               <h2> Your Comment </h2>
               
               <form action="{{ url_for('house_profile', location=session['location']) }}" method="post" id="userComment">
                 
                   <!-- <ul class="list-group">
                     <li class="list-group-item">Rank it from 0 to 5: <input name='likeornot' type='number'>
                     </li>
                   </ul> -->
                
                 <div>
                     <span> Rank it from 0 to 5:
                 <select name='likeornot'>
                   <option value="0">0</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="4">5</option>
                 </select>
                    </span>
                </div>

                   <div class="form-group">
                     <label for="UserWrittenComment">Please write your comment here</label>
                     <textarea class="form-control" name= "word" form="userComment" rows="3">{{word}}</textarea>
                   </div>

                   <ul class="list-group">
                     <button type="submit" class="btn btn-primary float-right"> Submit </button>
                   </ul>
               </form>
               {% endif %}
                {% for allcomment in allcomments %}
                <li class="list-group-item"> <a href="{{ url_for('profile', netid=allcomment[1]) }}"> {{  allcomment[1] }} </a>  gives a score of {{ allcomment[3] }} for this apartment.
                    He/She said: {{ allcomment[2] }}

                </li>
                {% endfor %}
                    
           </section>
      </main>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>
      $("input:radio").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
          // the name of the box is retrieved using the .attr() method
          // as it is assumed and expected to be immutable
          var group = "input:radio[name='" + $box.attr("name") + "']";
          // the checked state of the group/box on the other hand will change
          // and the current value is retrieved using .prop() method
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      });
      </script>
{% endblock %}
